<div class="animated fadeIn" style="background-color:#BBBAAD;">
<app-navbar class="animated fadeIn"></app-navbar>


  <section class="py-5 text-center .border-top container"  >
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">La digitalización es un proceso vivo, representa un precodimiento natural intensificado </h1>
        <p class="lead text-muted">Reforzamos el procedimiento mediante la tecnología desbloqueando un universo de posibilidades  .</p>
        <p>
  


        </p>

        <p>

        </p>
      </div>
    </div>
  </section>
</div>




<!-- <h1 class="fw-light">Catálogo de servicios </h1>
<p class="lead text-muted">Antes de solicitar un servicio, gribo recomienda que primero realicen un diagnóstico para saber el estatus inicial de su empresa y poder tomar una mejor decisión de que implementar primero .</p> -->

  <div class="animated fadeIn album py-5 ">
    <div class="container">
     
<br><br><br><br>
<div id="inicio" class="px-4 py-5 my-5 text-center">

  <h1 class="display-6 fw-bold">Desbloqueamos el conocimiento </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Las herramientas digitales sobrepasan nuestras limitaciones humanas y nos permiten sentir, pensar y vivir de manera más profunda.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    </div>
  </div>
</div>
      <div class="row g-4 py-5 text-center row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon text-centerd-inline-flex align-items-center justify-content-center bg-success bg-gradient text-white fs-2 mb-3">
  
          </div>
          <h2>Sentimos </h2>
          <p>Exploramos mediante nuestros sentidos nuestro entorno obteniendo información</p>
  
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-success bg-gradient text-white fs-2 mb-3">
  
          </div>
          <h2>Pensamos</h2>
          <p>Generamos conexiones, procesos e información obteniendo inteligencia.</p>
  
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-success bg-gradient text-white fs-2 mb-3">
  
          </div>
          <h2>Vivimos</h2>
          <p>Tomamos decisiones, creamos cosas en función de nuestro sentir y razonamientos.</p>
  
        </div>
      </div>

      <br><br><br><br><br><br><br><br>

      <div class="container  px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <div class="row align-items-md-stretch">
          
                <div class="h-100 mb-5 p-5 text-white bg-success rounded-3">
                  <h2>Transitar hacia productos y servicios vivos</h2>
                  <p></p>
        
                </div>
                
                <div class="h-100 p-5 text-white bg-success rounded-3">
                  <h2>Apreciar la transformación del mundo </h2>
                  <p></p>
        
                </div>
            
     
            </div>
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Como Iniciar en la digitalización? </h1>
            <br>
            <p class="lead"> </p>
            <p class="lead"> </p>

            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
          </div>
        </div>
      </div>

<br><br><br><br><br>
<div id="inicio" class="px-4 py-5 my-5 text-center">

  <h1 class="display-6 fw-bold">Servicios digitales que ofrecemos</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Enfocados en la digitalización para pequeñas y medianas empresas.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    </div>
  </div>
</div>

      <!-- <h3>Filtros</h3>
      <div class="btn-group mb-5" role="group" aria-label="Basic outlined example">
        <button (click)="catGo('desarrollo')" type="button" class="btn btn-outline-success">Desarrollo</button>
        <button (click)="catGo('estrategia')" type="button" class="btn btn-outline-success">Estrategia</button>
        <button (click)="catGo('pymes')" type="button" class="btn btn-outline-success">Pymes</button>
        <button (click)="catGo('diseño')" type="button" class="btn btn-outline-success">Diseño</button>
        <button (click)="catGo('independientes')" type="button" class="btn btn-outline-success">Independientes</button>
        <button (click)="catGo('redes')" type="button" class="btn btn-outline-success">Redes Sociales</button>
      </div> -->
<!-- 
      <div id="cat" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div  class="col" *ngFor="let filtros of filtro">
          <div  class="card shadow-sm">
            <img  [src]="filtros.img" alt="">

            <div class="card-body">
              <p class="card-text">{{filtros.txt}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="http://wa.link/apwvsp" type="button" class="btn btn-success">{{filtros.contacto}}</a>

                </div>
                <small class="text-muted">{{filtros.tipo}}</small>
              </div>
            </div>
          </div>
        </div>
      </div> -->


      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Digitalización de productos o servicios </h5>
              <p class="card-text">Echar un primer vistazo a lo que es la transformación digital para empresas PYMES. El proceso resulta en sumar las perspectivas individuales y llegar a una solución que haga sentido para todos.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Tranformar hacia una experiencia</li>
              <li class="list-group-item">Elaborar nuevas lineas de servicio</li>
              <li class="list-group-item">Mejorar tus servicios o productos</li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Comercio Online </h5>
              <p class="card-text">La importancia en la economía no se ha generado de una forma lineal sino en los últimos años ha crecido de forma exponencial, Representan actualmente más de un 11% de las ventas en EEUU..</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">E-commerce</li>
              <li class="list-group-item">Shopify</li>
              <li class="list-group-item">woocomerce</li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Oficina Virtual</h5>
              <p class="card-text">Implementación de su oficina remota y accesible desde cualquier lugar, cuenta con muchas funcionalidades que permitirán gestionar su equipo de manera eficiente.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">100% digital</li>
              <li class="list-group-item">Disponible bajo demanda</li>
              <li class="list-group-item">Capacitación </li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Vitrina online </h5>
              <p class="card-text">Nos encargamos de todo el proceso de desarrollo, diseño e implementación de una web page a medida de tu negocio, podemos modificar la existente que tienes y darle un nuevo aire así como también nuevas funcionalidades.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Estrategia web</li>
              <li class="list-group-item">Mejoras en el diseño</li>
              <li class="list-group-item">Esquema de contenidos</li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Comunidad digital </h5>
              <p class="card-text">te ayudamos a elaborarla y tener métricas para obtener el impacto que estás buscando.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cuadro de mandos </li>
              <li class="list-group-item">Analisis de competencia </li>
              <li class="list-group-item">campañas y contenidos </li>
            </ul>
          </div>
        </div>
      </div>



    </div>
  </div>


<section>
  <jjva-ngx-whatsapp-button style="margin-top: 10%" [ngx_whatsapp_phone]="phone" [ngx_whatsapp_text]="title"></jjva-ngx-whatsapp-button>
</section>
