<div class="animated fadeIn">
<app-navbar></app-navbar>
<section class="py-5 text-center .border-top container" style="border-top: 1px solid #dee2e6;" >
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Chequeo Digital</h1>
      <p class="lead text-muted">Servicio de análisis de estado para identificar cuales son tus puntos fuertes y que cosas se pueden mejorar.</p>
      <p>
        <!-- <button type="button"  routerLink="/prueba" class="btn btn-success"> Probar LITE</button> -->

      </p>

      <p>

      </p>
    </div>
  </div>
</section>

<main class="">
  <div class="container">
  <div class="  row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Lite</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">GRATIS</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 Preguntas</li>
            <li>Analisis de 3 areas</li>
            <li>5 sugerencias</li>
            <li>Guardar datos</li>
          </ul>
          <button type="button"   routerLink="/prueba" class="w-100 btn btn-lg btn-outline-success">Probar Ahora</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">S/500 </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>70 preguntas</li>
            <li>Analisis de 5 areas</li>
            <li>Analisis por categorias</li>
            <li>Reporte completo</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-success">Comenzar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-success">
        <div class="card-header py-3 text-white bg-success border-success">
          <h4 class="my-0 fw-normal">Personalizado</h4>
        </div>
        <div class="card-body">
          <!-- <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1> -->
          <ul class="list-unstyled mt-3 mb-4" style="padding-top: 23px; padding-bottom: 25px">
            <li>Analisis personalizado</li>
            <li>metricas</li>
            <li>Seguimiento Mensual</li>
            <li>Centro de ayuda</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-success">Contactanos</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets//cuestionario.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Evalua</h1>
      <p class="lead">Cuestionario con las mejores prácticas del mercado para brindar un diagnóstico certero del estado actual de su negocio </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>


<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">

      <h1 class="display-5 fw-bold lh-1 mb-3">Mide</h1>
      <p class="lead">Datos para poder tomar decisiones y cuáles son las medidas a tomar primero para digitalizar su negocio.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>

    </div>
    <div class="col-lg-6">
      <img src="../../../assets/Sin título-1.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">

    </div>
  </div>
</div>



</main>
<section>
  <jjva-ngx-whatsapp-button style="margin-top: 10%" [ngx_whatsapp_phone]="phone" [ngx_whatsapp_text]="title"></jjva-ngx-whatsapp-button>
</section>
