<div style="background-color:#8BAE9F; height: 100vh;">
  <app-navbar  class="animated fadeIn"></app-navbar>
  <div class="animated fadeIn" style="background-color:#8BAE9F;">

    <section class="py-h text-center  container" >
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1  style="color: #ffff" class="fw-light">Gribo digital</h1>
          <br>
          <p style="color: #ffff" class="lead">Digitalización para pequeñas y medianas empresas. Con gribo crece rápido hacia grandes oportunidades, Encontraras la ayuda para describir un universo de posibilidades.</p>
<br><br>

          <a href="#inicio" type="button" class="btn btn-success"> Descubre</a>

        </div>
      </div>
    </section>
  </div>
</div>
<br><br><br>
  <div id="inicio" class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../../assets/logo.png" alt="" width="72" height="72">
    <h1 class="display-6 fw-bold"> 6.6% de las pequeñas empresas logran crecer</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Mas del 50% de empresas, entre pequeñas y medianas, retrocedes en estrato o salen del mercado</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>

  <div class="container py-4">




    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-success rounded-3">
          <h2>Pequeñas</h2>
          <p>Continuan a nivel operativo, pero con el ingreso de mas personal para atender el incremento del negocio.</p>

        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-success  text-white border rounded-3">
          <h2>Medianas</h2>
          <p>En un nivel administrativo con nuevas exigencias, nuevas capacidades, sistemas y procesos .</p>

        </div>
      </div>
    </div>

    <br><br><br>

    <div class="container  px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../../../assets/gtr.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">La digitalización cambió las reglas del juego  </h1>
          <p class="lead">las personas intercambian lo que necesitan sin la necesidad de empresas de por medio. Confiando más en las personas que en las marcas, adoptado la transformación digital como filosofía de vida</p>
          <p class="lead">La competencia también cambió, ahora empresas de distintos rubros compiten entre ellos. Los modelos disruptivos son el principal peligro de las empresas más grandes</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          </div>
        </div>
      </div>
    </div>




    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
        <div>
          <h5 class="fw-bold mb-0">Se transformó el cambio de las cosas, todo se mueve mas rapido</h5>

        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
        <div>
          <h5 class="fw-bold mb-0">Los artistas pueden compartir canciones con el mundo al instante</h5>

        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
        <div>
          <h5 class="fw-bold mb-0">Un viajero solitario puede navegar por una ciudad extranjera sin conocer el idioma </h5>

        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
        <div>
          <h5 class="fw-bold mb-0">Google responde cualquier curiosidad al instante</h5>

        </div>
      </div>






  </div>
  <br><br><br><br><br>



  <div class="container px-4 py-5" id="featured-3">
    <h1 class="display-5 fw-bold lh-1 mb-3">Tranformate de miembro de orquesta a director de orquesta </h1>
    <br><br>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-success bg-gradient text-white fs-2 mb-3">

        </div>
        <h2>Chequeo </h2>
        <p>Descubre por donde comenzar en el mundo de la digitalizacion.</p>

      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-success bg-gradient text-white fs-2 mb-3">

        </div>
        <h2>Digitalizacion</h2>
        <p>Servicios creados para empresas como tú, te ayudamos en todo tu camino hacia el cambio.</p>

      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-success bg-gradient text-white fs-2 mb-3">

        </div>
        <h2>GriboLab</h2>
        <p>Laboratorio de innovación en el cual estamos en constante cambio y mejora de los servicios .</p>

      </div>
    </div>
  </div>

  <div id="inicio" class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../../assets/logo.png" alt="" width="72" height="72">

  </div>





 <section>
    <jjva-ngx-whatsapp-button style="margin-top: 10%" [ngx_whatsapp_phone]="phone" [ngx_whatsapp_text]="title"></jjva-ngx-whatsapp-button>
  </section>






    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2022
    </footer>
  </div>



